* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  flex-grow: 1;
  background-color: #001449;
}

header form {
  padding: 0 40px;
  gap: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header #icon {
  width: 50px;
  height: 50px;
  border: 1px solid gold;
  border-radius: 20px;
}
header h2 {
  text-align: center;
  margin: auto;
  font-family: "Disney";
  color: gold;
}

header form input {
  padding: 0 20px;
  border-radius: 30px;
  border: 2px solid gold;
  color: gold;
  background-color: #012677;
}

header form input::placeholder {
  color: gold;
}

header form button {
  padding: 10px;
  border-radius: 30px;
  border: 2px solid gold;
  color: gold;
  background-color: #012677;
}

section {
  text-align: center;
  flex-grow: 1;
  padding-top: 20px;
  background-color: #001449;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: gold;
}

section h1 {
  color: gold;
}

main {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: #012677;
}

main img {
  width: 550px;
  height: 650px;
  background-color: darkgray;
  border-radius: 30px;
  border: 5px solid gold;
}

article {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 650px;
  justify-content: space-between;
}

article p {
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid gold;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: gold;
  overflow: hidden;
  white-space: nowrap;
}

article div {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
}

article div button {
  width: 40%;
  height: 80px;
  border-radius: 30px;
  background-color: #012677;
  color: gold;
  border: 2px solid gold;
}
